{% extends 'base.html' %}
{% block main %}
    <div class="castcrew">
    {% for c in castcrew %}
    <div class="section">
        <table width="100%">
            <tr>
                <td align="left" valign="top" width="220px">
                    <div class="pic"><img src="CastCrew/img/{{c.pic}}"></div>
                </td>
                <td valign="top">
                    <div class="heading">
                        <div class="title">{{c.name}}</div>
                        <div class="subtitle">{{c.role}}</div>
                    </div>
                    <div class="description">{{c.bio|safe|default:"&nbsp;"}}</div>
                    <div class="footer"></div>
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
    </div>
{% endblock %}
