*.iso
*.swp
*~
*-bak
*.bak
\#*
*.mp3
*.ogg
*.mp4
*.webm
*.fpbf
*.pdf
*.reapeaks
Bonus/*
Site
Pages
.DS_Store
old
local
Makefile
!Bonus/template.html
!*SecondShift_Ep101*
Episodes/mp3/*.mp3
Episodes/ogg/*.ogg
