{% extends 'base.html' %}
{% block main %}
<div class="{{page}}">
<div class="section">
    <div class="title">The Second Shift Story</div>
    <div class="subtitle">The short(ish) version</div>
    <p>
        In late December 2005, Shauna Brown came to Andrea Shubert in a dream. "Tell my story," she said, but she didn't say how. Second Shift was envisioned as a collectible card game (one of Andrea's areas of professional expertise), a role-playing setting, and, finally, an audio theater podcast, which debuted on June 25th, 2006. 
    </p>
    <p>
        Andrea wrote a pilot script (an early draft of which is available on this DVD), and then brought in writer Brandon Crose, who, after a two-hour discussion of the world and Andrea's vision for the story, agreed to revise the pilot and start work on further episodes of what was then being called "The Shauna Show." Brandon brought in John Tanzer, who worked as co-lead writer for the series, and later Myssi Cerebi, who joined the writing team for the second season. 
    </p>
    <p>
        Meanwhile Andrea assembled an eager team of voice actors, starting with her cousin, Becki Davis, branching from there to their friends and eventually to the Boston nerd scene at large, adding the show's final cast member less than 24 hours before recording was set to begin. 
    </p>
    <p>
        Second Shift was a lot of things: it was one of the earliest (though not the first) audio theater projects to eschew traditional radio entirely and focus on the relatively new medium of podcasting; of the amateur audio theater podcasts that were out there, it was one of the only to record every cast member live in the same room wherever possible; and it was one of the only audio theater podcasts to tell a long-form story with a multi-season arc. 
    </p>
    <p>
        But more than anything else, Second Shift was a labor of love... and a learning experience. Almost everyone involved started with little or no professional expertise doing whatever their role was on the show (Andrew Schwartz and his audio mastery being a notable exception), but everyone Andrea talked to, everyone who read the final scene of pilot, fell in love with the world and its characters, and wanted to see their stories told, so we learned as we went. Cast members helped out by gathering sound effects, editing scenes, and eventually taking over mastering and post-production duties when Andrew had to leave the show for personal reasons. 
    </p>
    <p>
        Between June of 2005 and July of 2011, Second Shift released 29 episodes and a live "bonus" episode, totaling over 20 hours of full-cast audio theater. That time period saw weddings, divorces, changes in career, and cross-country moves, which caused the production schedule to vary from two weeks between episodes to sometimes over a year. Indeed, at times the learning-as-we-go nature of Second Shift can be all too clear, at least to the ears of those who made it, and yet there were always people out there who would discover the show and fall every bit as much in love with the world and the characters as we had; their comments, reviews, and analyses served as a reminder that however long it took, we had to get the story told. 
    </p>
    <p>
        If you are one of those people, thank you. Seriously, this DVD-- containing every moment of Second Shift plus all the related media we've been able to gather-- would not have been possible without you. 
    </p>
    <p>
        If you're new to the show, thank you for taking a chance on us, and we sincerely hope that you enjoy our story. If you do, please tell your friends! We really appreciate the support of buying one of these DVDs, but the episodes can also be had from  <a href="http://www.secondshiftpodcast.com">our website</a>, and from <a href="https://itunes.apple.com/us/podcast/second-shift-original-fantasy/id171579118?mt=2">iTunes</a>. 
    </p>
    <p class="salutation">
        Wo-chare pen-bangi,<br/>
        ("Greatest health to you")<br/>
        Brad Smith, Somerville MA USA, November 2013
    </p>
</div>
</div>
{% endblock %}
