{% extends 'base.html' %}
{% block main %}
<div class="{{page}}">
<div class="section">
    <div class="title">The Second Shift Story</div>
    <div class="subtitle">The short(ish) version</div>
    <p>
        Second Shift was a lot of things. For one thing, it was one of the earliest (though not the first) audio theater projects to eschew traditional radio entirely and focus on the relatively new medium of podcasting. Of the amateur audio theater podcasts of the time, it was one of the only ones that told a long-form story with a full cast, and of those it was one of only a few that recorded with every cast member in the same room instead of splicing together separately recorded lines. 
    </p>
    <p>
        More than anything else, though, Second Shift was a labor of love... and a learning experience. Almost everyone involved started with little or no expertise doing whatever their role was on the show (Andrew Schwartz and his audio mastery being a notable exception), but everyone who read the final scene of pilot fell in love with the world and its characters, and wanted to see their stories told, so we learned as we went. It shows in places (all too clearly to the ears of those who made it), but the love is always there.    
</p>
    <p>
        Between June of 2005 and July of 2011, Second Shift released 29 episodes and a live "bonus" episode, totaling over 20 hours of full-cast audio theater. That time period saw weddings, divorces, career changes, and cross-country moves, causing the production schedule to vary from two weeks to sometimes over a year between episodes. And yet, there were always people out there who would discover the show for the first time and fall in love with the world and its characters just as much as we had. Their comments, reviews, and analyses served as a reminder that however long it took, we had to get the story told. 
    </p>
<p>
And here it is. The complete series, along with all the bonus material we can gather. 
</p>
    <p>
        If you are one of the people who encouraged and supported the show while it was in production, thank you. Seriously, it would not have been possible without you. 
    </p>
    <p>
        If you are new to the show, thank you for taking a chance on us, and we sincerely hope that you enjoy our story. If you do, please tell your friends! You can still rate/review/subscribe to us on  <a href="https://itunes.apple.com/us/podcast/second-shift-original-fantasy/id171579118?mt=2">iTunes</a>, or subscribe using the podcast listener of your choice via our <a href="http://www.secondshiftpodcast.com/xml/2shift.xml">RSS feed</a>, or you can listen to episodes, along with commentary tracks for season 1, and other goodies at this site. 
    </p>
    <p class="salutation">
        Wo-chare pen-bangi,<br/>
        ("Greatest health to you")<br/>
    </p>
</div>
</div>
{% endblock %}
