{% extends 'base.html' %}
{% block main %}
<div class="bonus">
    <div class="ep"><div class="section">
        <div class="title">Music</div>
        <div class="topbuttons">
            <a target="_blank" href="Bonus/Music"><img 
                    title="open folder" 
                    src="src/img/folder.png"
                > 
            </a>
        </div>
        <div class="description">
            Standalone music from the show
        </div>
        <ul>
            <li class="audio">
                <a target="_blank" href="Bonus/Music/SecondShift_Theme-Season1.mp3">
                    Complete Season One theme. 
                </a>
                <div class="description">Composed by Jason Hall."</div>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Music/SecondShift_Theme-Season2.mp3">
                    Complete Season Two theme.
                </a>
                <div class="description"> Composed by Tiven Weinstock.</div>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Music/2.06.07-music 1.mp3">2.06.07</a>
                <div class="description">
                    Background music from Shauna and Porec's fight in Episode 2.06. Composed by Tiven Weinstock.
                </div>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Music/TheBalladOfDearVarya.mp3">
                    The Ballad of Dear Varya
                </a>
                <div class="description">This is the song from the tavern in Episode 2.07. Composed by Tiven Weinstock, vocals by Sequoia Wild.</div>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Music/GameMusic1.mp3">Game Music</a>
                <div class="description">
                    Originally written for a never-released Second Shift video game based on the undying attack in episode 1.05, much of this music was re-used in the final episodes of Season Two. 
                </div>
            </li>
        </ul>
    </div></div>
    
    
    <div class="ep"><div class="section">
        <div class="title">Video</div>
        <div class="topbuttons">
            <a target="_blank" href="Bonus/Videos/"><img 
                    title="open folder" 
                    src="src/img/folder.png"
                > 
            </a>
        </div>
        <div class="description">&nbsp;</div>
            <div class="item">
                <div id="toggler_video_213" class="toggler">
                    <div class="title">2.13 Dreams (live)</div>
                    <div class="description">
                        Months before the episode's official release, this "mostly stand-alone" episode was performed live at the Arisia scifi convention. Unfortunately, the very end of the video was lost, so be prepared for it to cut out before the episode is over. :(
                    </div>
                </div>
                <div id="toggled_video_213" class="toggle">
                    <video controls src="Bonus/Videos/SecondShift_Ep213-Live_Video.webm">
                        <a target="_blank" href="Bonus/Videos/SecondShift_Ep213-Live_Video.webm">2.13 Dreams</a>
                    </video>
                </div>
            </div>
     </div></div>
    
    
    <div class="ep"><div class="section">
        <div class="title">Cast Interviews</div>
        <div class="topbuttons">
            <a target="_blank" href="Bonus/Interviews/"><img 
                    title="open folder" 
                    src="src/img/folder.png"
                > 
            </a>
        </div>
        <div class="description">
            Q&amp;As with the cast (recorded July, 2008).
        </div>
        <ul>
            <li class="audio">
                <a target="_blank" href="Bonus/Interviews/Interview-Becki.mp3">
                    Becki Harrington Davis (Shauna Brown)
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Interviews/Interview-Brad.mp3">
                    Brad Smith (Jareth)
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Interviews/Interview-Brandon.mp3">
                    Brandon Crose (co-lead writer)
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Interviews/Interview-Christina.mp3">
                    Christina Molodowich (Zana / Dita)
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Interviews/Interview-Julia.mp3">
                    Julia Lunetta (Arkahn / The Winged Herald)
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Interviews/Interview-Neil.mp3">
                    Neil Marsh (Porec)
                </a>
            </li>
        </ul>
    </div></div>
    
    <div class="ep"><div class="section">
        <div class="title">Beyond Second Shift</div>
        <div class="topbuttons">
            <a target="_blank" href="Bonus/Other_Projects/"><img 
                    title="open folder" 
                    src="src/img/folder.png"
                > 
            </a>
        </div>
        <div class="description">
            Other projects by members of the Second Shift cast and crew
        </div>
        <ul>            
            <li class="audio">
                <a target="_blank" href="http://podiobooks.com/title/pieces/">
                    Pieces (external link)
                </a> 
                <div class="description">
                    Author, podcaster and Second Shift fan Nobilis Reed produced this series, in which different authors were invited to write each chapter of the story. Brandon Crose and John Tanzer penned one episode, which Ari Herbstman narrated. 
                </div>
            </li>
            <li class="ourhideous">
                <a target="_blank" href="http://ourhideousfuture.tumblr.com/">2010: Our Hideous Future</a>
                <div class="description">A dystopian synthpop musical in which Julia Lunetta plays a supercomputer who rules the world. What's not to love?</div>
            </li>
            <li>
                <a taget="_blank" href="http://maskofinanna.com">The Mask of Inanna (external link)</a>
                <div class="description">This Parsec award winning series was created by Neil Marsh and features the voices of several Second Shift cast members. </div>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Other_Projects/Brad/DragonCon2012-1.mp3">
                    Postards from DragonCon
                </a>
                <div class="description">
                    A short audio documentary by Brad Smith about cosplayers at DragonCon 2012.
                </div>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Other_Projects/Brad/SamMcGee.mp3">
                    The Cremation of Sam McGee
                </a>
                <div class="description">
                     Adaptation of the Robert W. Service poem The Cremation of SamMcGee by Brad Smith. "The recording is a little rough, but it was made in an evening for the 90th birthday of my grandmother, who can still recite the thing from memory. It's a wonderfully fun poem that I love to share". 
                </div>
            </li>
        </ul>
    </div></div>
    
    <div class="ep"><div class="section">
        <div class="title">Promos</div>
        <div class="topbuttons">
            <a target="_blank" href="Bonus/Promos/"><img 
                    title="open folder" 
                    src="src/img/folder.png"
                > 
            </a>
        </div>
        <div class="description">
            Promos for the show
        </div>
        <ul>
            <li class="audio">
                <a target="_blank" href="Bonus/Promos/promo1-kol-2012032400.mp3">
                    Promo for Second Shift when it ran on the Haplo's Ultimate Music Party show on Kingdom of Loathing's streaming music service.
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Promos/KoL-Jareth_promo.mp3">
                    Jareth discovers a new spell (custom intro for Haplo's Ultimate Music Party)
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Promos/2008ParsecSubmission.mp3">
                    Submission clip for the 2008 Parsec awards, featuring highlights of the beginning of Season 2 (SPOILERS).
                </a>
            </li>
            <li class="audio">
                <a target="_blank" href="Bonus/Promos/SecondShift-Parsec_Sample-201206080055.mp3">
                    Submission clip for the 2012 Parsec awards, featuring highlights of the end of Season 2 (SPOILERS).
                </a>
            </li>
        </ul>
    </div></div>
    
    <div class="ep"><div class="section">
        <div class="title">Other Stuff</div>
        <div class="topbuttons">
            <a target="_blank" href="Bonus/Misc/"><img 
                    title="open folder" 
                    src="src/img/folder.png"
                > 
            </a>
        </div>
        <div class="description">Everything else...</div>
        <ul>
            <li>
                <a target="_blank" href="Bonus/Misc/Charandrean-20131109.pdf">
                    Charandrean
                </a>
                <div class="description">A primer on the constructed language used in Second Shift, from the Second Shift wiki.</div>
            </li>
        </ul>
    </div></div>

</div>

<script language="javascript">
    $(document).ready(function() {
        $(".toggle").hide();
    });
</script>
{% endblock %}
